<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.akit.one">

    <application>
        <activity android:name=".OneActivity" />
        <activity android:name=".SchemeActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.akit.top"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.akit.top"
                    android:scheme="http" />
                <data
                    android:host="m.akit.top"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>